[submodule "app/src/main/cpp/llama.cpp"]
	path = app/src/main/cpp/llama.cpp
	url = https://github.com/ggml-org/llama.cpp.git
[submodule "third_party/sprbox-SDK"]
	path = third_party/sprbox-SDK
	url = https://github.com/EdgeAI-BestPractices/sprbox-SDK.git
